.SizeFilter {
  margin-top: 4rem;
  p {
    margin-bottom: 0.7rem;
  }
}
.BubbleBox {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Size {
  color: #000;
  border: 1px solid;
}
