.NameFilter {
  margin-top: 4rem;
}

.Input {
  width: 100%;
  border: none;
  padding: 10px;
  background: #ececec;
  outline: none;
  transition: all 0.3s;
  &:focus {
    transform: scale(1.1);
  }
}

.CommonButton {
  margin-top: 10px;
  width: 100%;
}
